:root {
  --main-block-height: 650px;
}

/*
html {
  -moz-filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    filter: gray; //IE6-9
    filter: grayscale(100%);
}
*/

body {

  font-family: 'Poppins', 'Arial Narrow', Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  margin: 0px;
  display: grid;
}

body img {
  max-width: 100%;
}

.navbar {
  grid-row: 1;
  
  position: static;
  background-color: white;
  
  min-width: 100vw;

  z-index: 2;
}

.navbar .pre-links {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  column-gap: 2em;

  padding: 10px 10px 0 10px;
}

.navbar .logo {
  /* margin: 10px 0px 0 10px; */
  width: 100px;
}

.navbar .menu-icon {
  width: 50px;
  height: 50px;
  /* margin: 10px 10px 0 0px; */
}

.navbar .menu-icon:hover {
  cursor: pointer;
}

.navbar .menu-icon div {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

.nav-links {
  display: none;

  flex-flow: column nowrap;
  justify-content: left;
  align-items: stretch;
  row-gap: 1em;
  margin: 1em;
}

.nav-links a {
  text-decoration: none;
  color: black;
  background-color: lightgrey;
  font-weight: 400;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 0 0 0 1em;
  font-size: 1.5em;
}

@media all and (width > 991px) {

  body img {
    max-width: 75%;
  }

  .navbar {
    display: flex;
  }

  .nav-links {
    flex-grow: 1;

    display: flex;
    flex-flow: row nowrap;
    justify-content: end;
    align-items: center;
    column-gap: 1em;
  }

  .nav-links a {
    padding: 0 .5em 0 .5em;
    border: none;
    background-color: white;
  }

  .nav-links a:hover {
    color: grey;
  }

  .navbar .menu-icon {
    display: none;
  }
}

.main-content {
  background-color: #f0f0f0;
}

.main-content > div{
  padding: 1em 2em 0 2em;
}

.mission-block {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;

  margin: 0;
}

.mission-block p {
  display: none;
  flex-basis: 1;
  margin: 0 1em 0 1em;
}

.mission-block img {
  /* max-width: 500px; */
  /* min-width: 300px; */
  box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.2);
  border: 2px solid lightgrey;
  border-radius: 10px;

  align-self: center;
  flex-basis: 1;

  border: none;
  margin: 2em;
}

.strategy-block {
  display: flex;
  flex-flow: column nowrap;
  align-items: left;
  gap: 2em;

  padding: 0 1em 0 1em;
  margin-top: 1em;
}

.strategy-block img {
  display: none;
  border: 2px solid lightgrey;
  border-radius: 10px;
  min-width: 300px;

  object-fit: cover;
  overflow: hidden;
}

.strategy-block li {
  font-weight: bold;
  margin: 1em 0 0 0;
}

.strategy-block .ellipses {
  display: none;
}

.strategy-block a:visited{
  color: blue;
}

.founder-block {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 1em;

  margin: 0 0 2em 0;
}

.founder-block h2 {
  text-align: center;
}

.founder-block h3 {
  padding-left: 1em;
}

.founder-card{
  display: flex;
  flex-flow: column nowrap;

  border: 2px solid lightgrey;
  border-radius: 10px;
  max-width: 300px;
  padding: 0;

  background-color: white;
}

.founder-card .ellipses {
  display: none;
}

.founder-block .founder-card img {
  max-width: 300px;
  border-radius: 8px 8px 0 0;;
}

.founder-card a {
  display: none;
}

.founder-text p {
  display: none;
}

.meet-us-link-mobile {
  align-self: center;
  text-align: center;
}

.meet-us-link-desktop {
  display: none;
}

.founder-bio-mobile {
  padding: 0 1em 0 1em;
}

@media all and (width >= 991px) {
  .meet-us-link-mobile {
    display: none;
  }

  .meet-us-link-desktop {
    display: block;
  }

  .founder-text a{
    display: block;
  }

  .founder-bio-mobile {
    display: none;
  }
}

.outreach-block {
  display: flex;
  flex-flow: column nowrap;

  text-align: center;
}

@media all and (width > 991px) {
  .mission-block {
    flex-flow: row nowrap;
    justify-content: space-between;

    
  }

  .mission-text {
    flex-basis: 50%;
    padding: 1em 0 0 0;
    
  }

  .mission-block h2 {
    padding: 0 12% 0 12%;
  }

  .mission-block p {
    display: block;
    padding: 0 6% 0 6%;
  }

  .mission-block h4 {
    padding: 0 6% 0 6%;
  }

  .mission-block img {
    flex-basis: 50%;
    max-width: 500px;
  }

  .strategy-block {
    flex-flow: row nowrap;
    justify-content: space-around;
  }

  .strategy-block img {
    display: block;
  }

  .founder-block {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
  }

  .founder-text p {
    display: block;
  }

  .founder-bio-mobile {
    display: none;
  }
}

.programs-content {
  grid-row: 2;

  display: grid;
  grid-template-columns: 80%;
  grid-template-rows: auto;
  justify-items: stretch;
  justify-content: center;
  gap: 1em;

  background-color: #f0f0f0;
}

.programs-content h1{
  padding: 0 .5em 0 .5em;
  text-align: center;
}

.programs-block {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  background-color: #acc3e3;
  border-style: solid;
  border-radius: 10px;
  border-color: lightgrey;
  border-width: 2px;
  box-shadow: 2px 4px 5px 2px rgba(0, 0, 0, 0.05);
}

.programs-block div {
  margin: 0 1em 0 1em;
  order: 1;
  max-width: 40%;
  min-width: 300px;
}

.programs-block img {
  order: 2;
  align-self: flex-start;
  max-width: 40%;
  min-width: 300px;

  border: 2px solid lightgrey;
  border-radius: 10px;
  margin-bottom: 1em;
}

.hidden-text {
  display: none;
}

.show-more {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.show-more:hover {
  color: purple;
}

.show-less {
  display: none;
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.show-less:hover {
  color: purple;
}

.ellipses {
  display: inline;
  
}

.donation {
  color: blue;
  display: block;
}

.team-content {
  background-color: #f0f0f0;
}

.team-content h2 {
  text-align: center;
}

@media all and (width >= 991px) {
  .programs-block {
    justify-content: space-between;
    align-content: stretch;
  }

  .programs-block img {
    border-radius: 0 9px 9px 0;
    margin: 0;
  }
}

.team-frames {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  row-gap: 4em;
  column-gap: 2em;
  padding: 0 2em 0 2em;
}

.team-frame {
  background-color: #acc3e3;
  border-style: solid;
  border-radius: 10px;
  border-color: lightgrey;
  border-width: 2px;
  box-shadow: 2px 4px 5px 2px rgba(0, 0, 0, 0.05);
}

.team-frame img{
  border-radius: 8px 8px 0 0;
  border-bottom: 2px solid lightgrey;

  min-width: 100%;
  max-width: 300px;
}

.team-frame h3 {
  padding: 0 0 0 10%;
}

.team-frame h4 {
  padding: 0 0 0 10%;
}

.contact-content {
  padding: 0 1em 0 1em;
  background-color: #f0f0f0;
}

.involvement-content {
  padding: 0 1em 0 1em;
  background-color: #f0f0f0;
}

.involvement-content p {
  padding: 0 0 0 1em;
}



.footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  margin: 2em;
}

