:root {
  --main-block-height: 650px;
}

/*
html {
  -moz-filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    filter: gray; //IE6-9
    filter: grayscale(100%);
}
*/

body {

  font-family: 'Poppins', 'Arial Narrow', Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  margin: 0px;
  display: grid;
}

body img {
  max-width: 100%;
}

.navbar {
  grid-row: 1;
  
  position: static;
  background-color: white;
  
  min-width: 100vw;

  z-index: 2;
}

.navbar .pre-links {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  column-gap: 2em;

  padding: 10px 10px 0 10px;
}

.navbar .logo {
  /* margin: 10px 0px 0 10px; */
  width: 100px;
}

.navbar .menu-icon {
  width: 50px;
  height: 50px;
  /* margin: 10px 10px 0 0px; */
}

.navbar .menu-icon:hover {
  cursor: pointer;
}

.navbar .menu-icon div {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

.nav-links {
  display: none;

  flex-flow: column nowrap;
  justify-content: left;
  align-items: stretch;
  row-gap: 1em;
  margin: 1em;
}

.nav-links a {
  text-decoration: none;
  color: black;
  background-color: lightgrey;
  font-weight: 400;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 0 0 0 1em;
  font-size: 1.5em;
}

.main-content {
  background-color: #f0f0f0;
  padding: 0 0 2em 0;
}

.main-content > div{
  padding: 1em 4em 0 4em;
}

.main-content a:visited {
  color: blue;
}

.mission-block {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;

  margin: 0;
}

.mission-statement {
  display: none;
}

.mission-block p {
  font-weight: bold;
  margin: 0 1em 0 1em;
  padding: 2em 0 0 0;
}

.mission-block img {
  box-shadow: .1em .2em .5em .1em rgba(0, 0, 0, 0.1);
  border: 2px solid lightgrey;
  border-radius: 10px;

  object-fit: cover;
  overflow: hidden;

  border: none;
  margin: 2em;
}

.strategy-block {
  display: flex;
  flex-flow: column nowrap;
  gap: 2em;

  padding: 0 1em 0 1em;
  margin-top: 1em;
}

.strategy-block img {
  display: none;
  border: 2px solid lightgrey;
  border-radius: 10px;
  min-width: 300px;

  object-fit: cover;
  overflow: hidden;
}

.strategy-block li {
  font-weight: bold;
  margin: 1em 0 0 0;
}

.strategy-block .ellipses {
  display: none;
}

.strategy-block a:visited{
  color: blue;
}

.founder-block {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 1em;

  margin: 0 0 2em 0;
}

.founder-block h2 {
  text-align: center;
}

.founder-block h3 {
  padding-left: 1em;
}

.founder-card{
  display: flex;
  flex-flow: column nowrap;

  border: 2px solid lightgrey;
  border-radius: 10px;
  max-width: 300px;
  padding: 0;

  background-color: white;
  box-shadow: .1em .2em .5em .1em rgba(0, 0, 0, 0.1);
}

.founder-card .ellipses {
  display: none;
}

.founder-block .founder-card img {
  max-width: 300px;
  border-radius: 8px 8px 0 0;;
}

.founder-card a {
  display: none;
}

.founder-text p {
  display: none;
}

.meet-us-link-mobile {
  align-self: center;
  text-align: center;
}

.meet-us-link-desktop {
  display: none;
}

.founder-bio-mobile {
  padding: 0 1em 0 1em;
}

.outreach-block {
  display: flex;
  flex-flow: column nowrap;

  text-align: center;
}

.programs-content {
  grid-row: 2;

  display: grid;
  grid-template-columns: 80%;
  grid-template-rows: auto;
  justify-items: stretch;
  justify-content: center;
  gap: 1em;

  background-color: #f0f0f0;
}

.programs-content h1{
  padding: 0 .5em 0 .5em;
  text-align: center;
}

.programs-block {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  background-color: #acc3e3;
  border-style: solid;
  border-radius: 10px;
  border-color: lightgrey;
  border-width: 2px;
  box-shadow: 2px 4px 5px 2px rgba(0, 0, 0, 0.05);

  margin-bottom: 4em;
}

.programs-block div {
  margin: 0 1em 0 1em;
  order: 1;
  max-width: 40%;
  min-width: 300px;
}

.programs-block img {
  order: 2;
  align-self: flex-start;
  max-width: 40%;
  min-width: 300px;

  border: 2px solid lightgrey;
  border-radius: 10px;
  margin-bottom: 1em;
}


.hidden-text {
  display: none;
}

.show-more {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.show-more:hover {
  color: purple;
}

.show-less {
  display: none;
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.show-less:hover {
  color: purple;
}

.ellipses {
  display: inline;
  
}

.donation {
  color: blue;
  display: block;
}

.team-content {
  background-color: #f0f0f0;
  padding: 1em 3em 2em 3em;
}

.team-content h2 {
  text-align: center;
}



.team-frames {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  row-gap: 4em;
  column-gap: 2em;
  padding: 0 2em 0 2em;
}

.team-frame {
  background-color: #acc3e3;
  border-style: solid;
  border-radius: 10px;
  border-color: lightgrey;
  border-width: 2px;
  box-shadow: 2px 4px 1em 2px rgba(0, 0, 0, 0.1);
}

.team-frame img{
  border-radius: 8px 8px 0 0;
  border-bottom: 2px solid lightgrey;

  min-width: 100%;
  max-width: 300px;
}

.team-frame h3 {
  padding: 0 0 0 10%;
}

.team-frame h4 {
  padding: 0 5% 0 10%;
}

.contact-content {
  padding: 2em 3em 2em 3em;
  background-color: #f0f0f0;

  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact-form {
  margin: 2em;
  padding: 1em;
  background-color: white;
  border-radius: 10px;
  box-shadow: .1em .2em 1em .1em rgba(0, 0, 0, 0.2);
}

.contact-form input {
  margin-right: 1em;
}

.contact-form-email > input {
  margin-left: 5px;
}

.contact-msg-body {
  min-width: 70%;
  resize: vertical;
  height: 10em;
}

.contact-form > form > div {
  margin-bottom: 1em;
}

.involvement-content {
  padding: 1em 3em 1em 3em;
  background-color: #f0f0f0;

  display: grid;
  grid-template-columns: 5fr 2fr;
}

.involvement-col1 {
  display: flex;
  flex-flow: column nowrap;
}

.involvement-col2 {
  display: grid;

  gap: 0;
}

.internship-roles {
  display: flex;
  flex-flow: column nowrap;
  margin: 0 2em 0 1em;
}

.donation-block {
  background-color: white;
  border-radius: 10px;
  box-shadow: .1em .2em .5em .1em rgba(0, 0, 0, 0.2);

  margin: 1em;
  padding: 0 1em 1em 1em;
  max-height: 28em;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.donation-block > h3 {
  align-self: flex-start;
}

.donation-block > img {
  border-radius: 10px 10px 10px 10px;
}


/* 
.img-intern1-block {
  border-radius: 10px;
  background-color: white;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  padding: 1em;
  margin: 1em;
} */

.intern-photos {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  gap: 5em;

  border-radius: 10px;
  background-color: white;
  box-shadow: .1em .2em .5em .1em rgba(0, 0, 0, 0.2);

  margin: 1em;
  padding: 1em 0 1em 0;
}

.intern-photos img{
  border-radius: 10px;
  border: 2px solid white;
}



.footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  margin: 2em;
}

.footer-social-link {
  text-decoration: none;
}

@media all and (width > 991px) {

  body img {
    max-width: 75%;
  }

  .navbar {
    display: flex;
  }

  .nav-links {
    flex-grow: 1;

    display: flex;
    flex-flow: row nowrap;
    justify-content: end;
    align-items: center;
    column-gap: 1em;
  }

  .nav-links a {
    padding: 0 .5em 0 .5em;
    border: none;
    background-color: white;
  }

  .nav-links a:hover {
    color: grey;
  }

  .navbar .menu-icon {
    display: none;
  }
}

@media screen and (width > 991px) {
  .main-content {
    padding-bottom: 0;
  }

  .main-content > div{
    padding: 1em 4em 3em 4em;
  }
}

@media all and (width > 991px) {
  .meet-us-link-mobile {
    display: none;
  }

  .meet-us-link-desktop {
    display: block;
  }

  .founder-text a{
    display: block;
  }

  .founder-bio-mobile {
    display: none;
  }
}

@media all and (width > 991px) {
  .mission-block {
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 4em;
  }

  .mission-text {
    flex-basis: 50%;
    padding: 0 0 0 0;
  }

  .mission-text-title {
    /* background-color: white; */
    border: 2px solid white;
    border-radius: 10px;
    border-color: transparent; /* remove the border's colour */
    box-shadow: 0 0 0 1em #e2d3f4, 0 .8em 1em 0 rgba(0, 0, 0, 0.2); /* emulate the border */

    padding: 0 0 1em 0;
    margin-top: 4em;
    text-align: center;
  }

  .mission-statement {
    display: block;
  }

  .mission-block h2 {
    padding: 0 12% 0 12%;
  }

  .mission-block p {
    padding: 0 6% 0 6%;
  }

  .mission-block h4 {
    padding: 0 6% 0 6%;
  }

  .mission-block img {
    flex-basis: 50%;
    max-width: 500px;
    margin: 0 0 0 0;
  }

  .strategy-block {
    flex-flow: row nowrap;
    justify-content: space-around;
  }

  .strategy-block img {
    display: block;

    box-shadow: .1em .2em .5em .1em rgba(0, 0, 0, 0.1);
  }

  .founder-block {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;

    
  }

  .founder-text p {
    display: block;
  }

  .founder-bio-mobile {
    display: none;
  }
}

@media all and (width >= 991px) {

  .programs-content {
    gap: 4em;
  }

  .programs-block {
    justify-content: space-between;
    align-content: stretch;

    margin: 0 0 2em 0;
  }

  .programs-block img {
    border-radius: 0 9px 9px 0;
    margin: 0;
  }
}

@media all and (width < 850px) {
  .contact-content {
    display: flex;
    flex-flow: column nowrap;
  }

  /* .contact-form > form{
    margin-top: 1em;
    display: flex;
    flex-flow: column wrap;
    gap: 1em;
  } */

  .contact-form {
    min-height: 20em;
    margin: 0;
  }

  .contact-form > form{
    display: table;
    width: 90%
  }

  .contact-form > form input {
    display: table-cell;
    width: 100%;
  }

  .contact-form textarea {
    display: table-cell;
    width: 100%;
  }
  
  .contact-form-email > input {
    margin: 0;
  }

}

@media screen and (width < 807px) {
  .involvement-content {
    display: flex;
    flex-flow: column nowrap;
    padding-left: 2em;
    padding-right: 2em; 
  }

  .donation-block {
    max-height: 60em;
  }

  .intern-photos > img {
    /* margin: 0 1em 0 1em;  */
    max-width: 80%;
  }

  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: .5em;

    margin-right: .5em;
    margin-left: .5em;
  }
}