:root {
  --main-block-height: 650px;
}

/*
html {
  -moz-filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    filter: gray; //IE6-9
    filter: grayscale(100%);
}
*/

body {

  font-family: 'Poppins', 'Arial Narrow', Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  margin: 0px;
  display: grid;
}

body img {
  max-width: 100%;
}

.navbar {
  grid-row: 1;
  
  position: static;
  background-color: white;
  
  min-width: 100vw;

  z-index: 2;
}

.navbar .pre-links {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;

  padding: 10px 10px 0 10px;
}

.navbar .logo {
  /* margin: 10px 0px 0 10px; */
}

.navbar .menu-icon {
  width: 50px;
  height: 50px;
  /* margin: 10px 10px 0 0px; */
}

.navbar .menu-icon div {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

.nav-links {
  display: none;

  flex-flow: column nowrap;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  color: blue;
  background-color: gray;
  font-weight: 400;
}

.nav-links a:hover {
  background-color: white;
}

#main-content {
  grid-row: 2;
  justify-self: center;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
}

#mission-block{
  color: black;

  height: 300px;
  margin: 0;
}

#mission-block img {

}

#mission-block p {
  padding: 10px 0 0 10px;
}


.initiative-block {
  grid-row: 1;
  justify-self: center;
  height: var(--main-block-height);
  display: flex;
  flex-flow: row wrap;
  margin-top: 1em;
}

.initiative-block div {
  margin: 0 1em 0 1em;
  order: 1;
}

.initiative-block img {
  order: 2;
}

/* 
#initiative-block-1 {
  grid-row: 1;
}

#initiative-block-2 {
  grid-row: 2;
}

#initiative-block-3 {
  grid-row: 3;
}

#initiative-block-4 {
  grid-row: 4;
}

#initiative-block-5 {
  grid-row: 5;
} */


#footer {
  grid-row: 3;
  justify-self: center;
}